* {
    margin: 0px;
    padding: 0px;

}

nav {
    background-color: #131921;
    display: flex;

}
.logo{
    height: 51px;
}

.logo img {
    height: 50px;
    width: 130px;
}
.address{
    height:60px;
    width:143px;
}
.address img {
    height: 19px;
    width: 16px;
    margin: 7px
}


.address span {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    ;
}

#del {
    color: #bfbfc0;
    font-size: small;
    margin-top: 15px;
}

#add {
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-top: -2px;
}

#loc {
    height: 17px;
    width: 15px;
    margin-top: 30px;
    padding: 0 5px;
}

.nav-fill {
    display: flex;
    height: auto;
    width: 60%;
    padding: 15px 15px;
    border-radius: 30px;
}

.nav-option select {
    height: 40px;
    width: 45px;
}

.search-button {
    height: 40px;
    width: 40px;
    background-color: #febd69;
}

.search-button svg {
    margin: 9px;
    height: 20px;
    width: 20px;
}

.search1 {
    box-sizing: border-box;
    height: 40px;
    width: 600px;
}

.country {
    width:54px;
    height:33px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.country img {
    height: 25px;
    width: 24px;
}

.country span {
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 6px 5px;
    height:15px;
    width:18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.country svg {
    width: 7px;
    margin: 6px 0 0 2px;
}

.user {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 129px;
    justify-content: left;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:0px 10px;
    align-items: center;
}

#name {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    /* margin-top: 12px; */
    height:14px;
    width:112px;
    /* margin-left: 20px; */
}

#info {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: -17px;
    height: 14px;
    width: 118px;
}    

.user svg {
    height: 10px;
    width: 10px;
    padding: 0px 5px;
    margin-top: -4px;
}

.order {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 76px;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:8px 9px;
}

#ret {
    color: #ffffff;
    font-size: 12px;
    margin-top: 12px;
    font-weight: 400;
}

#ord {
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: -10px;
}

.cart{
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}
.cart img{
    width: 84px;
    height:50px;
   
}

.list {
    background-color: #232f3e;
    color: white;
}

.list ul {
    display: flex;
    list-style: none;
}

.list ul li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 8px;
}

.body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color: #e3e6e6;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 271px;
    height: 387px;
    padding: 20px;
    z-index:2;
    margin-top:350px;
    background-color: white;

}

#box-span {
    width: 271px;
    height: 27px;
    font-size: 21px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.image {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;

}

.img-div {
    width: 132px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.image img {
    width: 120px;
    height: 110px;
    object-fit: contain;
}

.img-info span {
    width: 128px;
    height: 18px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}