*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #212121;
    font-family: monospace;
    flex-wrap: wrap;
}
.main{
    position: relative;
    margin-top: -250px;
}
.clock{
    border: 2px solid rgba(255,255,255,0.25);
    height:300px;
    width:300px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 0px 30px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock span{
    position: absolute;
    color:white;
    transform: rotate(calc(30deg * var(--i)));
    text-align: center;
    inset: 12px;
    font-size: 20px;
}
.clock span b{
    display: inline-block;
    transform: rotate(calc(-30deg *var(--i)));
}
.clock::before{
    content: '';
    position: absolute;
    background-color: white;
    width:8px;
    height: 8px;
    border-radius: 50%;
    z-index:2;
}
.hand{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    height:var(--h);
    width: 4px;
}